// Imports
@import "../colors";

.footer,
.footerTwo {
	padding: 7.5rem 3.5rem;
	padding-top: 22.5rem;
	color: $baseColor_white;
	background-color: $primary_Blue;
}

.footerTwo {
	margin-top: 0.25rem;
	padding: 7.5rem 3.5rem;
}

/* Screen (1024px) */
@media screen and (max-width: 1024px) {
	.footer {
		padding: 8.5rem 2rem;
		padding-top: 20rem;
	}

	.footerTwo {
		padding: 5rem 3.5rem;
	}
}
