// Imports
@import "../fonts";
@import "../colors";

.textPointImage {
	padding: 0.5rem 0rem;

	.colorBoxOne {
		width: 100%;
		height: 500px;
		margin-left: 2px;
		margin-top: 12px;
		position: absolute;
		border: 0.15rem solid $primary_yellow;

		&:hover {
			transition: all 2s ease-in-out;
			border: 0.15rem solid $primary_Blue;
		}
	}
}

/* Screen (1024px) */
@media screen and (max-width: 1024px) {
	.colorBoxOne {
		margin-top: 7px;
		margin-left: 3px;
	}
}

/* Screen (768px) */
@media screen and (max-width: 768px) {
	.colorBoxOne {
		margin-left: 9px;
	}
}

/* Screen (390px) */
@media screen and (max-width: 390px) {
	.colorBoxOne {
		width: 325px;
	}
}
