// Imports
@import "../colors";

.TextImageJumbo {
	padding: 5.5rem 0;
	overflow: hidden;

	.colorBoxOne {
		margin-left: 6px;
		margin-top: -10px;
	}

	.colorBoxTwo {
		margin-left: 2px;
		margin-top: 12px;
		border: 0.15rem solid $primary_Blue;

		&:hover {
			transition: all 2s ease-in-out;
			border: 0.15rem solid $primary_yellow;
		}
	}

	.colorBoxThree {
		margin-left: 9px;
		margin-top: 12px;
	}

	.colorBoxOne,
	.colorBoxThree {
		border: 0.15rem solid $primary_yellow;

		&:hover {
			transition: all 2s ease-in-out;
			border: 0.15rem solid $primary_Blue;
		}
	}

	.colorBoxOne,
	.colorBoxTwo,
	.colorBoxThree {
		height: 500px;
		width: 100%;
		position: absolute;
	}
}

/* Screen (1536px) */
@media screen and (max-width: 1536px) {
	.colorBoxOne {
		margin-left: 2px;
	}
}

/* Screen (1366px) */
@media screen and (max-width: 1366px) {
	.colorBoxOne {
		margin-left: 10px;
	}
}

/* Screen (1024px) */
@media screen and (max-width: 1024px) {
	.colorBoxOne {
		margin-top: -7px;
		margin-left: -3px;
	}

	.colorBoxTwo {
		margin-top: 7px;
		margin-left: 3px;
	}

	.colorBoxThree {
		margin-top: -7px;
		margin-left: -3px;
	}
}

/* Screen (834px) */
@media screen and (max-width: 834px) {
	.colorBoxOne,
	.colorBoxThree {
		margin-left: 8px;
	}
}

/* Screen (768px) */
@media screen and (max-width: 768px) {
	.colorBoxTwo {
		margin-left: 9px;
	}
}

/* Screen (390px) */
@media screen and (max-width: 390px) {
	.colorBoxOne,
	.colorBoxTwo {
		width: 325px;
	}
}
