// colors Variables
$baseColor_white: #fff;
$baseColor_black: #111;
$baseColor_Grey: #686868;
$baseColor_lightGrey: #c1c1c1;

// Main colors
$primary_Blue: #053972;
$primary_Darkblue: #042c56;
$primary_yellow: #fda730;
$primary_DarkYellow: #f58f00;
$primary_Orange: #f56a00;
$primary_Green: #5ea975;
$primary_Marron: #cd5972;
